
.row{
    background-color: pink;
    height: 200px;
}

.col{
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.col-11{
    border: 1px solid black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}


.box-float{
    float:left;
    height: 90%;
    margin: 0 5px;  
    display: flex; 
    align-items: center;
    border:1px solid white;
    background-color: rgb(247, 111, 134);
    color: white;
    
}